@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
  --White: #fff;
  --space-m-l: clamp(1.5rem, calc(1.15rem + 1.5vw), 2.5rem);
  --step-0: clamp(1rem, calc(0.91rem + 0.38vw), 1.25rem);
  --step-1: clamp(1.07rem, calc(0.86rem + 0.9vw), 1.67rem);
  --step-3: clamp(1.22rem, calc(0.6rem + 2.62vw), 2.96rem);
  --step-7: clamp(1.57rem, calc(-1.16rem + 11.68vw), 9.35rem);
}

a,
i {
  transition: 0.2s ease-in-out;
}

i.fa {
  color: var(--White);
  border: 1px solid var(--White);
  border-radius: 50%;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

i.fa:hover {
  color: var(--Soft-Magenta);
  border: 1px solid var(--Soft-Magenta);
}

body {
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--Violet);
}

h1 {
  font-size: var(--step-7);
  font-family: "Poppins", sans-serif;
  color: var(--White);
}

p {
  font-size: var(--step-1);
  line-height: 1.7;
  font-family: "Open Sans", sans-serif;
  color: var(--White);
}

.logo {
  width: 9rem;
  margin-bottom: 4rem;
}

.outer-container {
  margin: var(--space-m-l);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.illustration {
  width: 100%;
  margin-bottom: 4rem;
}

footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
}

.btn {
  background-color: var(--White);
  width: 14rem;
  padding: 0.85rem;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.403);
}

.btn:hover {
  background-color: var(--Soft-Magenta);
  color: var(--White);
}

/* Desktop View */
@media screen and (min-width: 500px) {
  body {
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: var(--step-3);
  }

  p {
    font-size: var(--step-0);
  }

  .logo {
    width: 13rem;
  }

  .flex-container {
    flex-direction: row;
    gap: 3rem;
  }

  .text-container {
    text-align: left;
    align-items: flex-start;
    margin-bottom: 8rem;
  }

  footer {
    justify-content: flex-end;
  }

  .btn {
    text-align: center;
    width: 12rem;
  }
}
